		<footer>
			<div class="container">
				<div class="footer">
					<ul id="menu_footer">
					<li><a href="index.html" class="active">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="">Services</a></li>
					<li><a href="">Portfolio</a></li>
					<li><a href="">Contact</a></li>
					</ul>
					<div id="copyright">
						<p>Copyright Folio 2012. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<script type="text/javascript" src="assets/bundles/vendor.js"></script>
	<script type="text/javascript" src="assets/bundles/script.js"></script>

</body>
</html>